%h1 Listing scores

%table
  %thead
    %tr
      %th Points
      %th Game at
      %th
      %th
      %th

  %tbody
    - @scores.each do |score|
      %tr
        %td= score.points
        %td= score.game_at
        %td= link_to 'Show', score
        %td= link_to 'Edit', edit_score_path(score)
        %td= link_to 'Destroy', score, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Score', new_score_path
